<%= form_with(model: @tweet, class: "tweet_form", local: true) do |f| %>
  <%= render 'layouts/error_messages', model: @tweet %>
  <%= f.text_area :content, class: "materialize-textarea" %>
  <%= f.submit 'ツイートする', class: "waves-effect waves-light btn" %>
<% end %>

<div class="tweet-box">
  <% @tweets.each do |tweet| %>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <%= link_to user_path(tweet.user) do %>
            <%= attachment_image_tag tweet.user, :user_image, :fill, 75, 75,fallback: "no_image.jpg", size:'75x75', format: 'jpeg',class: "circle image" %>
          <% end %>
          <p class="tweet"><%= link_to tweet.content, tweet_path(tweet) %></p>
        </div>
        <div class="card-action">
          <% if user_signed_in? %>
            <% if tweet.favorited_by?(current_user) %>
              <%= link_to tweet_favorites_path(tweet.id), method: :delete do %>
                <i class="material-icons favorite">favorite</i><span class="favorite"><%= tweet.favorites.count %></span>
              <% end %>
            <% else %>
              <%= link_to tweet_favorites_path(tweet.id), method: :post do %>
                <i class="material-icons favorite_border">favorite_border</i><span class="favorite_border"><%= tweet.favorites.count %></span>
              <% end %>
            <% end %>
          <% end %>
          <%= link_to tweet_path(tweet) do %>
            <i class="material-icons comment">comment</i><span class="comment"><%= tweet.comments.count %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>