<div class="tweet-show-box">
  <%= link_to user_path(@tweet.user) do %>
    <%= attachment_image_tag @tweet.user, :user_image, :fill, 75, 75,fallback: "no_image.jpg", size:'75x75', format: 'jpeg',class: "circle image" %>
  <% end %>
  <span class="tweet"><%= link_to @tweet.content, tweet_path(@tweet) %></span>
  <% if @tweet.user_id == current_user.id %>
    <span class="delete-btn">
      <%= link_to tweet_path(@tweet), method: :delete, data: {confirm: "このツイートを削除しますか？"} do %>
        <i class="material-icons">delete</i>
      <% end %>
    </span>
  <% end %>
</div>

<%= form_with(model: [@tweet, @comment], local: true, class: "form") do |f| %>
  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit 'コメントする', class: "save-btn btn" %>
<% end %>

<table class="comment_box">
  <% @tweet.comments.each do |comment| %>
    <tbody>
      <tr>
        <td class="user-image-td">
          <%= link_to user_path(comment.user_id) do %>
            <%= attachment_image_tag comment.user, :user_image, :fill, 50, 50,fallback: "no_image.jpg", size:'50x50', format: 'jpeg',class: "circle image" %>
          <% end %>
        </td>
        <td><span class="tweet"><%= comment.content %></span></td>
        <% if comment.user_id == current_user.id %>
          <td class="delete-btn-td">
            <%= link_to tweet_comments_path(comment.tweet), method: :delete, data: {confirm: "このツイートを削除しますか？"}  do %>
              <i class="material-icons">delete</i>
            <% end %>
          </td>
        <% end %>
      <tr>
    </tbody>
  <% end %>
</table>
