<%= form_with(model: @user, local: true, class: "form") do |f| %>
  <%= render 'layouts/error_messages', model: @user %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "name" %>
  </div>

  <div class="field">
    <%= f.label :icon %><br>
    <span class="btn btn-file">
      画像を選択<%= f.attachment_field :user_image %>
    </span>
  </div>

  <div class="field">
    <%= f.label :introduction %>
    <%= f.text_area :introduction, class: "materialize-textarea" %>
  </div>

  <div class="actions">
    <%= f.submit '保存', class: "save-btn btn" %>
  </div>
<% end %>