<h2>フォロー</h2>
<table class="follow-page">
    <% @users.each do |user| %>
        <tr>
            <td>
                <%= link_to user_path(user) do %>
                    <%= attachment_image_tag user, :user_image, :fill, 50, 50,fallback: "no_image.jpg", size:'50x50', format: 'jpeg',class: "circle" %>
                <% end %>
            </td>
            <td><span class="username"><%= user.name %></span></td>
    <% if current_user != user %>
            <% if user.followed_by?(current_user) %>
                <td><%=link_to "フォロー中", user_relationships_path(user.id), method: :delete %></td>
            <% else %>
                <tr><%=link_to "フォロー", user_relationships_path(user.id), method: :post %></td>
            <% end %>
    <% end %>
        </tr>
    <% end %>
</table>