<%= flash[:notice] %>

<div class="profile-box">
  <%= attachment_image_tag @user, :user_image, :fill, 105, 105,fallback: "no_image.jpg", size:'105x105', format: 'jpeg',class: "circle" %>
  <p class="username"><%= @user.name %></p>
  <p><%= @user.introduction %></p>
	
	<%=link_to "フォロー", follows_user_path(@user) %>
	<%=link_to "フォロワー", followers_user_path(@user) %>

	<% if current_user != @user %>
		<% if @user.followed_by?(current_user) %>
			<%= link_to 'フォロー中', user_relationships_path(@user), class: "profile-edit-btn btn", method: :delete %>
		<% else %>
			<%= link_to 'フォロー', user_relationships_path(@user), class: "profile-edit-btn btn", method: :post %>
		<% end %>
	<% end %>

	<% if current_user == @user %>
  	<%= link_to 'プロフィールを編集', edit_user_path(@user), class: "profile-edit-btn btn" %>
	<% end %>
</div>


<div class="user_posted">
		<ul class="tab clearfix">
		  <li class="active">ツイート</li>
		  <li>コメント</li>
		  <li>いいね</li>
		</ul>

		<div class="area">
		  <ul class="show">
				<table class="table">
          <% @tweets.each do |tweet| %>
					  <tbody>
					    <tr>
								<%= link_to(user_path(tweet.user)) do %>
									<td class="user-image-td"><%= attachment_image_tag @user, :user_image, :fill, 50, 50,fallback: "no_image.jpg", size:'50x50', format: 'jpeg',class: "circle" %></td>
								<% end %>
								<td><%= link_to tweet.content, tweet_path(tweet) %></td>
					    </tr>
					  </tbody>
				  <% end %>
				</table>
		  </ul>
		  <ul>
				<table class="table">
					<% @comments_tweets.each do |tweet| %>
					  <tbody>
					    <tr>
								<%= link_to(user_path(tweet.user)) do %>
									<td class="user-image-td"><%= attachment_image_tag @user, :user_image, :fill, 50, 50,fallback: "no_image.jpg", size:'50x50', format: 'jpeg',class: "circle" %></td>
								<% end %>
								<td><%= link_to tweet.content, tweet_path(tweet) %></td>
					    </tr>
					  </tbody>
				  <% end %>
				</table>
		  </ul>
		  <ul>
				<table class="table">
					<% @favorite_tweets.each do |tweet| %>
					  <tbody>
					    <tr>
								<%= link_to(user_path(tweet.user)) do %>
									<td class="user-image-td"><%= attachment_image_tag @user, :user_image, :fill, 50, 50,fallback: "no_image.jpg", size:'50x50', format: 'jpeg',class: "circle" %></td>
								<% end %>
								<td><%= link_to tweet.content, tweet_path(tweet) %></td>
					    </tr>
					  </tbody>
				  <% end %>
				</table>
		  </ul>
		</div>
	</div>



