/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */
 @import "materialize/components/color-variables";
 $primary-color: color("blue", "lighten-2") !default;
 $secondary-color: color("pink", "lighten-2") !default;
 @import "materialize";

 body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .main {
   padding-top: 50px;
   margin: 0 auto;
   width: 40%;
 }

 .btn {
   @extend  .blue, .lighten-2;
   color: #fff;
 }

 .nav-wrapper {
   padding: 0 100px;
 }

 .alert {
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  padding:12px; font-weight:850;
}

.form {
  margin: 50px auto;
}

.field {
  margin-bottom: 30px;
}

.save-btn {
  width: 100%;
}