// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite {
  color: #f06292 !important;
}

.favorite_border {
  color: grey !important;
}