// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// tweet_from 
.tweet_form {
  margin-bottom:  50px;
}

.waves-button-input {
  color: #fff;
}

// tweet box(index)
.card {
  margin: 0.5rem auto !important;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4) !important;
}

.card-content {
  display: flex;
}

.image {
  margin-right: 30px;
}

.tweet {
  padding-top: 10px;
}

// tweet show
.tweet-show-box {
  position: relative;
  display: flex;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.delete-btn-td {
  text-align: right;
}