// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// user show page
.profile-box {
  margin: 50px auto;
  position: relative;
}

.profile-edit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 20px !important;
}

/* タブ機能 */
.tab li {
  color: #333;
  float: left;
  margin: 0 10px -1px 0;
  padding: 10px 20px;
  cursor: pointer;
  list-style: none;
  transition: .3s;
  &.active {
    border-bottom: 2px solid #ff971d;
    cursor: auto;
  }
}

.area ul {
  display: none;
  &.show {
    display: block;
  }
}


.username {
  font-weight: bold;
}

.user-image-td {
  width: 100px;
}

// user update form
.btn-file {
  position: relative;
  overflow: hidden;
  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
  }
}
